[user]
  name = Masayuki Morita
  email = masayuki.morita@crowdworks.co.jp
[color]
  ui = true
[alias]
  st = status
  co = checkout
  cb = checkout -b
  br = branch
  pf = push --force-with-lease
[core]
  editor = /usr/local/bin/vim
  excludesfile = ~/.gitignore_global
[ghq]
  root = ~/src
[push]
  default = simple
