[user]
  name = Masayuki Morita
  email = masayuki.morita@crowdworks.co.jp
[color]
  ui = true
[alias]
  st = status
  co = checkout
  cb = checkout -b
  br = branch -v --sort=authordate
  pH = push origin HEAD
  pF = push --force-with-lease origin HEAD
  root = rev-parse --show-toplevel
  browse = !hub browse
  open = !hub browse -- pull/$(git symbolic-ref --short HEAD)
  pr = !hub pull-request
  gh-show = "!f(){ open https://github.com/$(git rev-parse --show-toplevel | rev | cut -f1,2 -d '/' | rev)/commit/$1;};f"
  ci-status = !circleci-cli recent -l 5 -b $(git symbolic-ref --short HEAD)
  ci-open = !open https://circleci.com/gh/$(git rev-parse --show-toplevel | rev | cut -f1,2 -d '/' | rev)/tree/$(git symbolic-ref --short HEAD)
  local = !git config --local user.name "Masayuki Morita" && git config --local user.email "minamijoyo@gmail.com"
[core]
  editor = /usr/local/bin/nvim
  excludesfile = ~/.gitignore_global
[ghq]
  root = ~/src
[push]
  default = simple
